Divide_and_Conquer/.idea/workspace.xml
*/*.pyc
*/*/*.pyc
Programming.Practice/.idea/
Divide_and_Conquer/maximum_subarray/__pycache__
Divide_and_Conquer/.idea/workspace.xml
Divide_and_Conquer/maximum_subarray/maximum_subarray_recursive/__pycache__/maximum_subarray_recursive.cpython-36.pyc
Readings/modern_software_engineering_and_architecture/Designing-Data-Intensive-Applications.pdf
